<a href="https://colab.research.google.com/github/Orangefox76200/EMD-Capsule-LSTM/blob/main/EMD_Capsule_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EMD-Capsule-LSTM with Attention Mechanism**

Import Packages

In [32]:
import tensorflow as tf
import keras
import pandas as pd
from keras.models import Sequential
from keras.layers import Conv1D
from keras.layers import LSTM
from keras.layers import Dense

Stock Index Dataset: DJIA(Jan 04,2010-Dec 31,2019)

Upload **Orangefox76200/EMD-Capsule-LSTM/DJIA.xlsx** (Github) to Google Drive, then import it from Google Drive to EMD_Capsule_LSTM.ipynb

In [44]:
from google.colab import drive
drive.mount ('gdrive')
DJIA_raw = pd.read_excel ('gdrive/MyDrive/Colab Notebooks/DJIA.xlsx')
DJIA_raw

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

              Date      Open      High       Low     Close     Volume
0     Jan 04, 2010  10430.69  10604.97  10430.69  10583.96  179780000
1     Jan 05, 2010  10584.56  10584.56  10522.52  10572.02  188540000
2     Jan 06, 2010  10564.72  10594.99  10546.55  10573.68  186040000
3     Jan 07, 2010  10571.11  10612.37  10505.21  10606.86  217390000
4     Jan 08, 2010  10606.40  10619.40  10554.33  10618.19  172710000
...            ...       ...       ...       ...       ...        ...
2511  Dec 24, 2019  28572.57  28576.80  28503.21  28515.45   86150000
2512  Dec 26, 2019  28539.46  28624.10  28535.15  28621.39  155970000
2513  Dec 27, 2019  28675.34  28701.66  28608.98  28645.26  182280000
2514  Dec 30, 2019  28654.76  28664.69  28428.98  28462.14  181600000
2515  Dec 31, 2019  28414.64  28547.35  28376.49  28538.44  193340000

[2516 rows x 6 columns]